    * {
        box-sizing: border-box;
    }

    body {
        background: beige;
    }


    #menuknap {
        color: black;
    }

    footer {
        background-image: url(images/splash.jpg);
        height: 20vh;
    }

    #menuknap {
        text-align: right;
        margin-top: -28vw;
        margin-right: 5vw;
        font-size: 10vw;
        cursor: pointer;
    }

    .hidden {
        opacity: 0;
        transform: translateX(-200%);
    }

    #menu a {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 5vw;
        margin-top: 4vw;
        cursor: pointer;
        font-family: 'Newsreader', serif;
        text-decoration: none;
        font-size: 4.5vw;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding: 2vw;
        justify-content: space-between;
    }

    footer img {
        width: 40%;
    }

    footer a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    #footer {
        display: flex;
        flex-direction: column;
    }

    #footer a {
        margin-top: 2vw;
    }


    #social {
        display: flex;
        flex-direction: column;
        width: 15vw;
        height: auto;
        text-align: center;
    }

    .detaljelogo {
        width: 50%;
    }



    /* Style inputs */
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    input[type=indsend] {
        background-color: #80a381;
        color: white;
        padding: 12px 2px;
        border: none;
        cursor: pointer;
        margin-left: 2px;
    }

    input[type=indsend]:hover {
        background-color: #a9c7aa;
    }



    /* kontakt sektion */
    .container {
        border-radius: 5px;
        padding: 10px;
    }



    /* 2 kolonner ved siden af hinanden */
    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }

    p {
        font-family: 'Cinzel', serif;
    }

    h4 {
        margin-top: -10vw;
    }

    .row {
        font-family: 'Newsreader', serif;

    }

    .hidden {
        opacity: 0;
        transform: translateX(-200%);
    }

    #menu a {
        color: black;
    }

    #input {
        padding: 2vw;
        font-family: 'Newsreader', serif;

    }

    h4 {
        font-family: 'Cinzel', serif;
        font-size: 4vw;
    }


    @media screen and (max-width: 768px) {

        .column,
        input[type=indsend] {
            width: 100%;
            margin-top: 0;
        }

    }

    @media (min-width:768px) {

        #menuknap {
            font-size: 6vw;
        }

        #menu a {
            font-size: 3vw;
        }

        h4 {
            margin-top: 1vw;
        }
    }

    @media (min-width:1160px) {

        #menuknap {
            font-size: 4vw;
            margin-top: -15vw;
        }

        #menu a {
            font-size: 2vw;
            margin-top: 2vw;
        }

        h4 {
            margin-top: -5vw;
            font-size: 3vw;
        }

        .detaljelogo {
            width: 40%;
        }

        #footer a {
            margin-top: 1vw;
        }

        #social a {
            width: 5vw;
        }
    }
