* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #C2CAA8;

}

/*----------HER STARTER MAIN INDEX.HTML------------*/
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.rutenavn {
    margin: 1vw 1vw 2vw 1vw;
}

.område {
    margin: 1vw 1vw 2vw 1vw;
}

.distance {
    margin: 1vw 1vw 2vw 1vw;
}

.naturbillede {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
}

.loopart {
    padding: 0;
    border: none;
    box-shadow: 7px 7px 5px 2px rgb(0 0 0 / 18%);
    margin: 2vw;
    cursor: pointer;
    background-color: white;
}

.loopart:hover {
    animation-name: article_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes article_kf {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(0.95);
    }
}


/*----------HER SLUTTER MAIN INDEX.HTML------------*/

/*----------Article for detalje side START------------*/
article {
    border: solid black 2px;
    padding: 2vw;
    margin: 2vw;
    margin-bottom: 10vw;
    cursor: pointer;

}

/*----------Article for detalje side SLUT------------*/

#menuknap {
    color: white;
}

#splash {
    background-image: url(images/splash.jpg);
    height: 100vh;
}

footer {
    background-image: url(images/splash.jpg);
    height: 20vh;
}

#splash img {
    width: 70%;
    margin-left: 10vw;
}

#menuknap {
    text-align: right;
    margin-top: -35vw;
    margin-right: 5vw;
    font-size: 5vw;
    cursor: pointer;
}


.hidden {
    opacity: 0;
    transform: translateX(-200%);
}

#menu a {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5vw;
    margin-top: 2vw;
    cursor: pointer;
    font-family: 'Newsreader', serif;
    text-decoration: none;
}


#scroll {
    width: 20%;
    height: 20%;
    cursor: pointer;
    margin-top: 120vw;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes pulse_kf {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.0);
    }
}



.section_wrapper {

    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Cinzel', serif;
}

.section_wrapper img {
    width: 60vw;
    height: 30vh;
    margin-top: 20vw;
    margin-left: 10vw;
    border: 2px solid black;
    border-radius: 100px;
}

p {
    font-family: 'Newsreader', serif;
}

#tidengar {
    margin-right: 5vw;
}

h2 {
    margin-left: 5vw;
    font-family: 'Cinzel', serif;
    margin-top: 10vw;
    margin-bottom: 3vw;
}

/*-------FILTRERING KNAPPER START-------*/
nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    font-family: 'Newsreader', serif;
    background-color: white;
    padding: 3vw;
    margin: 1.5vw 1.5vw 2vw 1.5vw;
    cursor: pointer;
    box-shadow: 2px 2px 3px 1px rgba(0 0 0 / 25%);
    border: none;

}

button:hover {
    background-color: #BE815D;
    animation-name: article_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.valgt {
    background-color: #BE815D;
}

/*-------FILTRERING KNAPPER SLUT-------*/
footer {
    display: flex;
    flex-direction: row;
    padding: 2vw;
}

footer img {
    width: 40%;
}

footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

#footer {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#social {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#fb {
    width: 100%;
    margin-left: -2vw;
}

article img {
    width: 50%;
    margin-left: 5vw;
    margin-top: 5vw;
}

h3 {
    margin-left: 5vw;
    font-family: 'Newsreader', serif;
}

p {
    margin-top: 2vw;
    margin-left: 5vw;
    font-family: 'Newsreader', serif;
}

.detaljelogo {
    width: 50%;
    margin-bottom: 10vw;
}

.tilbage {
    text-decoration: none;
    margin-left: 2vw;
    color: white;
}

.tilbage:hover {
    color: black;
}





@media (min-width: 400px) {
    #scroll {
        margin-top: 100vw;
    }

    footer a {
        margin-left: 8vw;
    }

    #alleruter {
        margin-top: 10vw;
    }

    .section_wrapper img {
        width: 50vw;
        margin-top: 10vw;
        margin-left: 20vw;
    }


}

@media (min-width: 440px) {
    #scroll {
        margin-top: 90vw;
    }

    .section_wrapper img {
        width: 45vw;
    }

    .tilbage {
        font-size: 3.5vw;
    }
}

@media (min-width: 500px) {
    #scroll {
        margin-top: 75vw;
    }

    .section_wrapper img {
        width: 40vw;
        margin-top: 5vw;
    }
}

@media (min-width: 550px) {
    #scroll {
        margin-top: 70vw;
    }

    .section_wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    .section_wrapper img {
        width: 35vw;
        height: 30vh;
        margin-top: 5vw;
        margin-left: 0vw;
    }

}

@media (min-width: 610px) {
    #scroll {
        margin-top: 55vw;
    }

    .section_wrapper img {
        width: 30vw;
        height: 30vh;
        margin-top: 5vw;
        margin-left: 0vw;
    }


    footer a {
        margin-top: 1vw;
    }

    #social {
        width: 23%;
    }

    .tilbage {
        font-size: 3vw;
    }

    .detaljelogo {
        width: 50%;
        margin-bottom: 10vw;
    }
}

@media (min-width: 710px) {
    #scroll {
        margin-top: 45vw;
    }

    .section_wrapper img {
        margin-top: 3vw;
        width: 25vw;
        height: 30vh;
    }

    #footer {
        margin-top: 2vw;
    }

    #social {
        width: 23%;
        margin-top: 0vw;

    }

    .section_wrapper {
        margin-left: 10vw;
        margin-right: 10vw;
    }


}

@media (min-width: 810px) {
    #scroll {
        margin-top: 40vw;
    }

    .section_wrapper img {
        margin-top: 1vw;
        width: 22vw;
        height: 30vh;
    }

    .detaljelogo {
        width: 40%;
        margin-bottom: 15vw;
    }

    .tilbage {
        font-size: 2.5vw;
    }
}

#splash img {
    width: 60%;
    margin-left: 20vw;
}

#menuknap {

    margin-top: -30vw;
}

#footer {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}

#social {
    margin-top: 1vw;

}


}

@media (min-width: 890px) {
    #scroll {
        margin-top: 35vw;
    }

    .section_wrapper img {
        margin-top: 5vw;
        width: 70%;
        height: 60%;
        margin-left: 5vw;
    }

    #splash img {
        margin-left: 17vw;
    }

    p {
        font-size: 2vw;
    }

    #footer {
        margin-top: 1vw;
    }

}

@media (min-width: 990px) {
    #scroll {
        margin-top: 30vw;
    }

    #splash img {
        margin-left: 18vw;
    }

    #social {
        width: 20%;
    }

    .section_wrapper img {
        margin-top: 0vw;
        width: 20vw;
    }

    .detaljelogo {
        width: 30%;
    }

    .tilbage {
        font-size: 2vw;
    }

}

@media (min-width: 1090px) {
    #scroll {
        margin-top: 25vw;
    }

    #splash img {
        width: 55%;
        margin-left: 21vw;
    }

    #menuknap {
        margin-top: -25vw;
        font-size: 4vw;
    }

    p {
        font-size: 1.5vw;
    }

    .rutenavn {
        margin: 1vw 1vw 1vw 1vw;
    }

    .område {
        margin: 1vw 1vw 1vw 1vw;
    }

    .distance {
        margin: 1vw 1vw 1vw 1vw;
    }

    .section_wrapper img {
        width: 18vw;
        height: 31vh;
        margin-top: -1vw;
    }

    #social {
        width: 20%;
        margin-right: 5vw;
        margin-left: -3vw;
    }

    button {
        margin: 1vw 0.5vw 1vw 0.5vw;
        padding: 1vw 2vw 1vw 2vw;
    }

    nav {
        text-align: left;
        margin-left: 2.8vw;
    }

    #alleruter {
        font-size: 3vw;
    }

    .tilbage {
        font-size: 2vw;
    }

}

@media (min-width: 1160px) {
    #scroll {
        margin-top: 25vw;
    }

    #splash img {
        width: 50%;
        margin-left: 25vw;
    }

    #menuknap {
        margin-top: -25vw;
        font-size: 3vw;
    }

    #menu a {
        font-size: 2vw;
    }

    .section_wrapper img {
        margin-top: 1vw;
        width: 75%;
        height: 67%;
    }

    .section_wrapper {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    #alleruter {
        margin-top: -1vw;
    }

}

@media (min-width: 1240px) {
    #scroll {
        margin-top: 24vw;
    }

    #splash img {
        width: 50%;
        margin-left: 25vw;
    }

    .section_wrapper img {
        margin-top: -2vw;
        width: 18vw;
        height: 35vh;
    }

    .section_wrapper {
        margin-top: 6vw;
    }

    #alleruter {
        margin-top: 6vw;
    }

    #social {
        margin-top: -1vw;
    }

    .tilbage {
        font-size: 1.5vw;
    }

}
